In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("test_predictions.csv")

In [3]:
df

       true  predicted     proba      x       y  patient_id
0         0          1  0.644918  751.0  1401.0       13688
1         0          0  0.407140  351.0   901.0       13688
2         0          0  0.504063  951.0   851.0       13688
3         0          0  0.075004  551.0   701.0       13688
4         0          0  0.763635  751.0  1201.0       13688
...     ...        ...       ...    ...     ...         ...
38099     1          1  0.870582  901.0   351.0       12883
38100     1          0  0.236778  451.0   551.0       12883
38101     1          1  0.813069  451.0   301.0       12883
38102     1          0  0.395076  601.0   301.0       12883
38103     1          1  0.653426  501.0   501.0       12883

[38104 rows x 6 columns]

In [4]:
from sklearn.metrics import confusion_matrix
confusion_matrix(df["true"], df["predicted"])

array([[22003,  4991],
       [ 2727,  8383]])

In [5]:
tn, fp, fn, tp = confusion_matrix(df["true"], df["predicted"]).ravel()

In [15]:
(tn, fp, fn, tp)

(22003, 4991, 2727, 8383)

In [14]:
from sklearn.metrics import classification_report 
print(classification_report(df["true"], df["predicted"]))

              precision    recall  f1-score   support

           0       0.89      0.82      0.85     26994
           1       0.63      0.75      0.68     11110

    accuracy                           0.80     38104
   macro avg       0.76      0.78      0.77     38104
weighted avg       0.81      0.80      0.80     38104

In [18]:
#accuracy
accuracy = (tp+tn)/(tp+fp+fn+tn)
accuracy

0.7974490867100567

In [21]:
dev_predictions = pd.read_csv("dev_predictions.csv")

In [22]:
dev_predictions

       true  predicted     proba       x       y  patient_id
0         0          0  0.224798  1751.0  1801.0       10255
1         0          0  0.182417   251.0  1151.0       10255
2         0          0  0.500413   451.0   601.0       10255
3         0          0  0.668539   201.0   601.0       10255
4         0          1  0.748216   701.0  1651.0       10255
...     ...        ...       ...     ...     ...         ...
42267     1          0  0.284683  1601.0   301.0       12875
42268     1          0  0.626098  1501.0   451.0       12875
42269     1          0  0.076703  1651.0   301.0       12875
42270     1          0  0.661369  1651.0   401.0       12875
42271     1          0  0.189584  1451.0   351.0       12875

[42272 rows x 6 columns]

In [24]:
losses_bc = pd.read_csv("losses_breastcancer.csv")

In [25]:
losses_bc

       train       dev      test
0   0.530425  0.448077  0.492223
1   0.468712  0.430885  0.472312
2   0.460508  0.426088  0.471123
3   0.453582  0.419720  0.462603
4   0.450396  0.427202  0.469117
5   0.446728  0.420097  0.468351
6   0.445822  0.426134  0.473537
7   0.442226  0.430472  0.474523
8   0.441348  0.420693  0.461261
9   0.440667  0.425555  0.463730
10  0.438397  0.419273  0.469670
11  0.438965  0.416603  0.459165
12  0.436430  0.412072  0.463702
13  0.437749  0.408720  0.458420
14  0.435511  0.409256  0.459391
15  0.433756  0.419288  0.465963
16  0.433213  0.408647  0.456047
17  0.431730  0.409434  0.462213
18  0.431676  0.430258  0.480957
19  0.432018  0.416759  0.466716

In [26]:
running_loss_bc = pd.read_csv("running_losses_breastcancer.csv")

In [27]:
running_loss_bc

           train       dev      test
0       0.623418  0.330564  0.568452
1       1.074919  0.325162  0.639785
2       1.006070  0.344529  0.645490
3       1.005922  0.362404  0.774175
4       0.997528  0.387922  0.797650
...          ...       ...       ...
123195  0.432002       NaN       NaN
123196  0.432018       NaN       NaN
123197  0.432008       NaN       NaN
123198  0.432046       NaN       NaN
123199  0.432035       NaN       NaN

[123200 rows x 3 columns]